
.slideContainer, .picture {
    float:middle;
    margin:auto;
    width:100%;
    max-width:400px;
    height:300px;
    position:relative;
}

.picture {
    position:absolute;
}

.slideContainer img {
width:400px;
height:300px;
object-fit: cover;

}

.btn {
    cursor: pointer;
    position:absolute;
    padding:5px;
    top: 50%;
}
#APOD {
    padding: 0px 15px;
}

#flights-container {
    padding: 25px
}

#page-header {
    padding: 5px;
    margin: 5px;
    justify-content: center;
}

.next-btn {
    right: 0;
}
#learn-more-images img {
    width: 100%;
    max-height: 300px;
}